<?xml version="1.0"?>
<robot name="ur5e_multiple_arms" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- robot name parameter -->
    <xacro:arg name="name" default="ur5e"/>
    <!-- import main macro -->
    <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

    <!-- possible 'ur_type' values: ur3, ur3e, ur5, ur5e, ur10, ur10e, ur16e, ur20, ur30 -->
    <xacro:arg name="ur_type" default="ur5e"/>

     <!-- import hande -->
    <xacro:include filename="$(find robot_arms)/urdf/robotiq_hande.urdf.xacro" />

    <!-- parameters -->
    <xacro:arg name="tf_prefix_right" default="" />
    <xacro:arg name="tf_prefix_left" default="" />
    <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
    <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
    <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
    <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
    <xacro:arg name="safety_limits" default="false"/>
    <xacro:arg name="safety_pos_margin" default="0.15"/>
    <xacro:arg name="safety_k_position" default="20"/>

    <!-- table as base for the two UR5e robots -->
    <link name="world">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://robot_arms/meshes/visual/myvention_visual.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="Blue">
                <color rgba="1.0 1.0 1.0 1.0" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://robot_arms/meshes/collision/myvention_collision.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>  
    </link>

    <!-- right arm with gripper -->
    <xacro:ur_robot
        name="ur5e"
        tf_prefix="$(arg tf_prefix_right)"
        parent="world"
        joint_limits_parameters_file="$(arg joint_limit_params)"
        kinematics_parameters_file="$(arg kinematics_params)"
        physical_parameters_file="$(arg physical_params)"
        visual_parameters_file="$(arg visual_params)"
        safety_limits="$(arg safety_limits)"
        safety_pos_margin="$(arg safety_pos_margin)"
        safety_k_position="$(arg safety_k_position)"
        >
        <origin xyz="-0.188189 0.13575 0.556631" rpy="${3*pi/4} 0 ${-pi/2}" />          <!-- position robot in the world -->
    </xacro:ur_robot>

    <xacro:robotiq_hande prefix="$(arg tf_prefix_right)hande_" origin="$(arg tf_prefix_right)tool0"/>

    <!-- left arm with gripper -->
    <xacro:ur_robot
        name="ur5e"
        tf_prefix="$(arg tf_prefix_left)"
        parent="$(arg tf_prefix_right)base"
        joint_limits_parameters_file="$(arg joint_limit_params)"
        kinematics_parameters_file="$(arg kinematics_params)"
        physical_parameters_file="$(arg physical_params)"
        visual_parameters_file="$(arg visual_params)"
        safety_limits="$(arg safety_limits)"
        safety_pos_margin="$(arg safety_pos_margin)"
        safety_k_position="$(arg safety_k_position)"
        >
        <origin xyz="-0.003003 0.269652 -0.269685" rpy="${-pi/2} 0 0" />          <!-- position robot in the world -->
    </xacro:ur_robot>

    <xacro:robotiq_hande prefix="$(arg tf_prefix_left)hande_" origin="$(arg tf_prefix_left)tool0"/>

</robot>